#our-clients-section {
	h2 {
		font-size: 2em
	}
	.views-element-container {
		padding-left: 1em;
		padding-right: 1em;
		padding-top: 2em;
	}
	.slide__description {
		font-size: 1em;
	}
}
.layout-region-checkout-secondary {
	padding-left: 1em;
	padding-right: 1em;
	.checkout-pane-order-summary table {
		th,td {
			padding-left: .25em;
			padding-right: .25em;
			font-size: .75em;
		}
	}
}
.about-section {
	padding: 1em 1em 2em;
	.title {
		font-size: 2em;
	}
}	
#models-section .left .inner {
	font-size: 12px;
}
#models-section {
	.doodle-1 {
		background-size: 100%;
		font-size: 10px;
	}
	.doodle-2 {
		font-size: 14px;
		background-size: auto 100%;
	}
}
.every-woman {
	line-height: .75em;
	font-size: 3.5em;
}
#celeb-pick .left h1 {
	font-size: 1.8em;
}