#our-clients-section {
	h2 {
		font-size: 3em
	}
	.views-element-container {
		padding-left: 1em;
		padding-right: 1em;
	}
	.slide__description {
		font-size: 1em;
	}
}
.layout-region-checkout-secondary {
	padding-left: 1em;
	padding-right: 1em;
	.checkout-pane-order-summary table {
		th,td {
			padding-left: .25em;
			padding-right: .25em;
			font-size: .75em;
		}
	}
}