#bestsellers-section {
	/*overflow: hidden;
	padding: 0;
	background: rgb(161,181,182);
	background: linear-gradient(180deg, rgba(161,181,182,1) 0%, rgba(161,181,182,1) 85%, rgba(243,243,243,1) 85%, rgba(243,243,243,1) 100%);
	.left {
		> div {
			padding: 0;
		}
	}
	.right {
		.slick__arrow {
			margin-left: 0;
			text-align: right;
			margin-right: 1em;
		}
		.inner {
			padding: 2em 0 0;
			.slick-list {
				padding-left: 0 !important;
			}
		}
	}*/
}
.every-woman img {
	top: .75em;
}
#celeb-pick {
	.right {
		.right-side .large-pic {
			width: auto;
			height: auto;
			padding-left: 2em;
			padding-right: 2em;
		}
		.doodle-2 {
			font-size: 12px;
			background-size: 100%;
		}
		.left-side .celeb-name {
			font-size: 4em;
		}
	}
	.doodle-1 {
	    font-size: 13px;
	    background-size: 100%;
	}
	.site-container {
		padding: 0;
	}
}
#our-products-section {
	padding-bottom: 6em;
	.views-field-nothing {
		max-width: 22.22em;
		margin-left: auto;
		margin-right: auto;
	}
	.doodle-2 {
		right: -2em;
	}
}
#our-clients-section {
	.slick__arrow {
		display: none;
	}
	.views-element-container {
    	padding-left: 2em;
    	padding-right: 2em;
	}
	.doodle-2 {
		right: -3.1em;
		bottom: -3em;
	}
}
.product-page {
	background-color: $color-lightgray;
	padding-bottom: 1em;
	.site-container {
		margin-left: 1em;
		margin-right: 1em;
		padding: 1.5em;
	}
	#views-exposed-form-products-page-page-1 {
		margin-bottom: 1.5em;
		// border: 1px solid $color-charcoal;
		width: 100%;
		// padding: .25em 0;
		label {
			// border-right: 1px solid $color-charcoal;
			display: inline-block;
			width: 38%;
			margin-right: 0;
		}
		select {
			// border: none;
			display: inline-block;
			width: 62%;
		}
	}
}
.cart-offcanvas--right {
	width: 16em;
}
#cart-offcanvas {
	.cart-block--offcanvas-contents {
		padding-left: 1em;
		padding-right: 1em;
		td {
			padding: .65em .25em;
			font-size: .7em;
		}
	}
	.cart--cart-offcanvas__close {
		padding-left: 1em;
		padding-right: 1em;
		.btn {
			font-size: 1.25rem;
		}
	}
	.cart-block--offcanvas-contents__links a {
		font-size: .75em;
		padding-top: .25em;
	}
}
.cart-page {
	.views-row {
		.mid {
			line-height: 1em;
		}
		.title {
			margin-bottom: .25em;
			font-size: .85em;
		}
		.price,
		.quantity {
			font-size: .65em;
		}
		.right {
			a {
				margin-top: .2em;
				margin-bottom: .2em;
				width: 1.8em;
				height: 1.8em;
				padding-top: 0;
				i {
					font-size: .65em;
				}
			}
		}
	}
}
main {
	&.cart-page {
		margin-top: 2em;
	}
	&.product-page {
		margin-bottom: 0;
	}
}
.maintenance-page {
	font-size: .5em;
}