@import url('vendor/bootstrap.min.css');
@import url('vendor/all.min.css');

@font-face {
  font-family: 'latobold';
  src: url('../fonts/lato-bold.woff2') format('woff2'),
       url('../fonts/lato-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latoitalic';
  src: url('../fonts/lato-italic.woff2') format('woff2'),
       url('lato-italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latolight';
  src: url('../fonts/lato-light.woff2') format('woff2'),
       url('../fonts/lato-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latoregular';
  src: url('../fonts/lato-regular.woff2') format('woff2'),
       url('../fonts/lato-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Manttulcuy';
  src: url('../fonts/Manttulcuy.woff2') format('woff2'),
       url('../fonts/Manttulcuy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: Font Awesome\ 5 Brands;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/fa-brands-400.eot);
    src: url(../fonts/fa-brands-400.eot?#iefix) format("embedded-opentype"), url(../fonts/fa-brands-400.woff2) format("woff2"), url(../fonts/fa-brands-400.woff) format("woff"), url(../fonts/fa-brands-400.ttf) format("truetype"), url(../fonts/fa-brands-400.svg#fontawesome) format("svg");
}
@font-face {
    font-family: 'dementorregular';
    src: url('../fonts/dementor-webfont.woff2') format('woff2'),
         url('../fonts/dementor-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'abril_fatfaceregular';
    src: url('../fonts/abrilfatface-regular-webfont.woff2') format('woff2'),
         url('../fonts/abrilfatface-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.fab {
    font-family: Font Awesome\ 5 Brands;
}
@font-face {
    font-family: Font Awesome\ 5 Pro;
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/fa-light-300.eot);
    src: url(../fonts/fa-light-300.eot?#iefix) format("embedded-opentype"), url(../fonts/fa-light-300.woff2) format("woff2"), url(../fonts/fa-light-300.woff) format("woff"), url(../fonts/fa-light-300.ttf) format("truetype"), url(../fonts/fa-light-300.svg#fontawesome) format("svg");
}
.fal {
    font-weight: 300;
}
@font-face {
    font-family: Font Awesome\ 5 Pro;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/fa-regular-400.eot);
    src: url(../fonts/fa-regular-400.eot?#iefix) format("embedded-opentype"), url(../fonts/fa-regular-400.woff2) format("woff2"), url(../fonts/fa-regular-400.woff) format("woff"), url(../fonts/fa-regular-400.ttf) format("truetype"), url(../fonts/fa-regular-400.svg#fontawesome) format("svg");
}
.fal, .far {
    font-family: Font Awesome\ 5 Pro;
}
.far {
    font-weight: 400;
}
@font-face {
    font-family: Font Awesome\ 5 Pro;
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/fa-solid-900.eot);
    src: url(../fonts/fa-solid-900.eot?#iefix) format("embedded-opentype"), url(../fonts/fa-solid-900.woff2) format("woff2"), url(../fonts/fa-solid-900.woff) format("woff"), url(../fonts/fa-solid-900.ttf) format("truetype"), url(../fonts/fa-solid-900.svg#fontawesome) format("svg");
}
.fa, .fas {
    font-family: Font Awesome\ 5 Pro;
    font-weight: 900;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  -ms-transform: $transforms;
  transform: $transforms;
}

 @mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}

$color-white: #fff;
$color-black: #000;
$color-charcoal: #292929;
$color-gray: #898989;
$color-lightgray: #F3F3F3;
$color-coral: #E79482;
$color-sand: #D5B8AA;
$color-deeptaupe: #8B6654;
$color-blush: #EDE4DF;
$color-mutedmoss: #A1B5B6;
$color-ladybagpink: #F6C9C9;
$color-success: #69A37B;
$color-error: #CE5F44;
$color-brown: #C59C85;

$font-lato-light: 'latolight', sans-serif;
$font-lato-reg: 'latoregular', sans-serif;
$font-lato-bold: 'latobold', sans-serif;
$font-lato-italic: 'latoitalic', sans-serif;
$font-mant: 'Manttulcuy', sans-serif;
$font-dementor: 'dementorregular', sans-serif;
$font-abril: 'abril_fatfaceregular', sans-serif;

html {
	font-size: 16px;
}
body {
	font-size: 1em;
	line-height: 1.375em;
	font-family: $font-lato-reg;
	color: $color-charcoal;
	padding-top: 5.75em;
	&.overlay {
		overflow: hidden;
	}
	&.adminimal-admin-toolbar {
		padding-top: 0;
		#header.fixed-top {
			position: relative !important;
		}
		.se-pre-con {
			display: none;
		}
	}
	&.page-node-9 {
		background-color: $color-blush;
	}
}
em {
	font-style: normal;
	font-family: $font-lato-italic;
}
strong {
	font-weight: normal;
	font-family: $font-lato-bold;
}
.cart-offcanvas {
	z-index: 1032;
}
.btn {
	border-radius: 1.94em;
	font-size: 1em;
	width: 12.5em;
	padding: .65em .75em;
	@include transition(all .125s ease-in-out);
	&.btn-default {
		background-color: $color-charcoal;
		color: $color-white;
		text-transform: uppercase;
		border-color: $color-charcoal;
		&:hover {
			background-color: $color-coral;
		}
		&.disabled {
			border-color: $color-gray;
			color: $color-gray;
		}
	}
	&.btn-primary {
		background-color: $color-white;
		color: $color-brown;
		text-transform: uppercase;
		border-color: $color-white;
		font-family: $font-lato-bold;
		&:hover {
			background-color: $color-brown;
			border-color: $color-brown;
			color: $color-white;
		}
		&.disabled {
			opacity: .7;
		}
	}
	&.btn-secondary {
		background-color: $color-white;
		color: $color-charcoal;
		text-transform: uppercase;
		border-color: $color-charcoal;
		&:hover {
			background-color: $color-charcoal;
			border-color: $color-charcoal;
			color: $color-white;
		}
		&.disabled {
			opacity: .7;
		}
	}
}
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-family: $font-lato-bold;
}
h1 {
	font-size: 2.25em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.75em;
}
h4 {
	font-size: 1.625em;
}
h5 {
	font-size: 1.125em;
}
h6 {
	font-size: 1em;
}
img {
	max-width: 100%;
	height: auto;
}
a {
	&:hover,&:focus {
		outline: 0;
	}
}
.bold {
	font-family: $font-lato-bold;
}
.layout-container.homepage {
	background-color: $color-blush;
}
#header {
	height: 5.625em;
	/*margin-bottom: .3em;*/
	margin-bottom: 4em;
	@include transition(background-color .125s ease-in-out);
	&.product-page-header {
		margin-bottom: 0;
	}
	&.scrolled {
		background-color: $color-white;
	}
	&.fixed-top {
		z-index: 20 !important;
	}
}
.homepage {
	#header,#footer {
		margin: 0;
	}
	#footer {
		#block-footercontnet {
			overflow: hidden;
		}
		position: relative;
	}
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: rgba(255,255,255,.95);
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	display: table;
	span {
		display: inline-block;
		width: 30px;
		height: 30px;
		background-color: #F5C418;
		border-radius: 100%;
		margin-left: 10px;
		margin-right: 10px;
		position: relative;
		top: 3px;
	}
	.inner {
		vertical-align: middle;
		display: table-cell;
	}
}
.site-container {
	max-width: 68em;
	margin-left: auto;
	margin-right: auto;	
}
#maintenance-wrapper {
	width: 100%;
	height: 100vh;
	display: table;
	.inner {
		display: table-cell;
		vertical-align: middle;
	}
}
.maintenance-page {
	text-align: center;
	header {
		margin-bottom: 3em;
		img {
			max-width: 12em;
		}
	}
	main {
		font-size: 8em;
		line-height: 2em;
		font-family: $font-mant;
		color: $color-blush;
	}
	.social-maintenance {
		margin: 4em 0 0;
		list-style: none;
		padding: 0;
		li {
			display: inline-block;
			margin: 0 .5em;
			a {
				display: inline-block;
				background-color: $color-coral;
				border-radius: 100%;
				width: 2.5em;
				height: 2.5em;
				text-align: center;
				i {
					color: $color-white;
					font-size: 1.3em;
					position: relative;
					top: .4em;
					left: .1em;
					text-align: center;
				}
			}
		}
	}
}
.every-woman {
	font-family: $font-dementor;
	margin-top: 1em;
	margin-bottom: .5em;
	text-align: center;
	font-size: 3.6em;
	color: $color-black;
	position: relative;
	div {
		position: relative;
		z-index: 2;
	}
	img {
		position: absolute;
		top: .1em;
		/*right: 3.5em;*/
		left: 50%;
		margin-left: -3em;
		z-index: 1;
		width: 9em;
	}
}
.breadcrumb {
	background-color: transparent;
	padding-left: 0;
	padding-right: 0;
	a {
		color: $color-gray;
		text-transform: uppercase;
		font-size: .85em;
	}
}
#block-tinycuervo-branding {
	text-align: center;
	img {
		width: 9.1875em;
	}
}
#block-tinycuervo-local-tasks {
	ul {
		margin: 1.5em 0;
		padding: 0;
		list-style: none;
		li {
			display: inline-block;
			margin-right: .5em;
			border-right: .08em solid darken($color-lightgray,5%);
			&:last-child {
				border: none;
			}
			a {
				display: inline-block;
				color: $color-coral;
				padding: 0 1.1em;
				font-size: .9em;
				text-decoration: none;
				text-transform: uppercase;
				@include transition(all .125s ease-in-out);
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
.mutedmoss-section {
	/*position: relative;
	padding-top: 12.3em;
	padding-bottom: 18em;
	background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(243,243,243,1) 100%);
	.bg-section {
		background-color: $color-mutedmoss;
		width: 100%;
		height: 31.11em;
	}*/
}
.about-section {
	padding: 2em 2em 5em;
	.title {
		display: inline-block;
		font-family: $font-abril;
		color: $color-brown;
		font-size: 2.4em;
		line-height: normal;
		position: relative;
		left: -.45em;
		margin-bottom: .25em;
	}
	.btn {
		margin-top: 1em;
	}
	p:last-child {
		margin-bottom: 0;
	}
	.left {
		.inner {
			position: relative;
		}
		img {
			border: .75em solid $color-white;
		}
		.about_photo_a {
			width: 25em;
			padding-bottom: 3em;
			@include transform(rotate(6deg));
		}
		.about_photo_b {
			width: 16em;
			position: absolute;
			bottom: 0;
			right: 0;
			@include transform(rotate(-4deg));
		}
		.about_photo_doodle {
			background: url(../images/vector_doodle2.svg) no-repeat 0 0;
			width: 11.18em;
	    height: 15.06em;
	    position: absolute;
	    bottom: -2em;
	    left: -2.6em;
		}
	}
	.right {
		.inner {
			padding-left: 3em;
			padding-top: 1em;
			padding-bottom: 1em;
		}
	}
}
#block-tinycuervo-main-menu {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			display: inline-block;
			margin-right: 2em;
			&:last-child {
				margin-right: 0;
			}
			a {
				color: $color-charcoal;
				display: inline-block;
				text-decoration: none;
				&:hover {
					font-family: $font-lato-bold;
				}
			}
		}
	}
}
#block-checkoutprogress {
	margin-bottom: 3.5em;
	text-align: center;
	ol {
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;
		&:before {
			content: '';
			height: .12em;
			width: 70%;
			background-color: $color-gray;
			position: absolute;
			top: 50%;
			left: 15%;
			margin-top: -.85em;
			z-index: -1;
		}
		li {
			width: 33.33%;
			display: inline-block;
			margin: 0;
			padding: 0;
			float: left;
			color: $color-charcoal;
			font-family: $font-lato-light;
			&:before {
				display: block;
				background-color: $color-white;
				width: 3em;
				height: 3em;
				border: .15em solid $color-gray;
				color: $color-charcoal;
				border-radius: 100%;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: .5em;
				font-family: $font-lato-light;
				vertical-align: middle;
				padding-top: .6em;
			}
			&.checkout-progress--step__current {
				font-weight: normal;
				&:before {
					background-color: $color-blush;
					border-color: $color-blush;
				}
			}
		}
	}
}
.checkout-complete {
	text-align: center;
	margin: 6em 0;
	.top {
		max-width: 25em;
		margin-left: auto;
		margin-right: auto;
	}
	i {
		display: block;
		font-size: 5em;
		color: $color-success;
		margin-bottom: 1.5rem;
	}
	.order-success-icon {
		font-family: $font-lato-bold;
		margin-bottom: 1.5em;
	}
	.checkout-complete__payment-instructions {
		text-align: left;
		max-width: 40em;
		margin: 4em auto 0;
		.heading-title {
			position: relative;
			margin-bottom: 1.5em;
		}
		h3 {
			font-size: 1.3em;
			margin-bottom: 0;
			background-color: $color-white;
			display: inline-block;
			padding-right: .5em;
		}
		hr {
			margin: 0;
			position: absolute;
			border: none;
			top: 50%;
			left: 0;
			width: 100%;
			height: .05em;
			background-color: $color-charcoal;
			z-index: -1;
		}
		ol {
			margin: 0 0 3em;
			padding: 0 0 0 1em;
			li {
				padding-left: .5em;
				span {
					margin-top: 1.5em;
					margin-bottom: 1.5em;
					display: block;
					color: $color-gray;
					font-family: $font-lato-italic;
				}
			}
		}
		.bank-item {
			margin: 2em 0;
		}
		.bdo-logo {
			background: url(../images/bdo.jpg) no-repeat center;
			width: 6em;
			height: 4em;
		}
		.bpi-logo {
			background: url(../images/bpi.jpg) no-repeat center;
			width: 7em;
			height: 4em;
		}
		.gcash-logo {
			background: url(../images/gcash.jpg) no-repeat center;
			width: 9em;
			height: 4em;
		}
		.palawanex-logo {
			background: url(../images/palawanexpress.jpg) no-repeat center;
			width: 8.5em;
			height: 4em;
		}
		.mlhuillier-logo {
			background: url(../images/mlhuillier.jpg) no-repeat center;
			width: 8em;
			height: 4em;
		}
		.bdo-logo,
		.bpi-logo,
		.gcash-logo,
		.palawanex-logo,
		.mlhuillier-logo {
			display: inline-block;
			background-size: 100% auto;
		}
	}
}
.alert-status {
	color: $color-white;
	background-color: $color-success;
	border-color: darken($color-success, 5%);
	a {
		color: $color-white;
	}
}
.alert-error {
	color: $color-lightgray;
  background-color: $color-error;
  border-color: darken($color-error, 3%);
  a {
  	color: $color-charcoal;
  }
}
#footer {
	overflow: hidden;
	margin-top: 4em;
	background-color: $color-blush;
	padding: 2.3em 0;
	.footer-col-1,
	.footer-col-2,
	.footer-col-3,
	.footer-col-4 {
		display: inline-block;
		float: left;
	}
	.footer-col-1 {
		border-right: 1px solid #C59C85;
		width: 23%;
		padding: 2.3em 0;
	}
	.footer-col-2 {
		padding: 3.5em 0 0 3em;
		width: 20%;
	}
	.footer-col-3 {
		padding: 3.5em 0 0 3em;
		width: 34%;
	}
	.footer-col-4 {
		padding: 3.5em 0 0 3em;
		width: 23%;
	}
	.footer-logo {
		margin-bottom: .5em;
		img {
			max-width: 9em;
		}
	}
	.copyright {
		color: $color-sand;
		font-size: .875em;
	}
	h5 {
		white-space: nowrap;
		color: #4F4F4F;
		font-family: $font-abril;
		margin-bottom: .7em;
		font-size: .9em;
		i {
			color: #4F4F4F;
			font-size: 1em;
			margin-right: .3em;
		}
	}
	.inner {
		a {
			display: block;
			color: $color-brown;
			font-size: .9em;
		}
		.social-icons {
			margin-top: 1.2em;
			a {
				display: inline-block;
				color: $color-blush;
				width: 1.56em;
				height: 1.56em;
				background-color: $color-coral;
				border-radius: 100%;
				text-align: center;
				font-size: 1em;
				&:first-child {
					margin-right: .5em;
				}
				i {
					position: relative;
					left: .13em;
					top: .05em;
					font-size: .9em;
				}
			}
		}
	}
}
#bestsellers-section {
	/*overflow: hidden;*/
	/*max-width: 80em;*/
	/*position: absolute;
	margin-left: -32.5em;
	left: 50%;
	bottom: 0;*/
	padding-top: 1em;
	background-color: #4490A0;
	.site-container {
		position: relative;
		top: 8em;
	}
	.left-doodle {
		background: url(../images/vector_Leaves.svg) no-repeat 0 0;
		width: 10.81em;
		height: 12.12em;
		position: absolute;
		bottom: .5em;
		left: -3.65em;
		z-index: 3;
	}
	.right-doodle {
		background: url(../images/vector_leaves2.svg) no-repeat 0 0;
		width: 13.62em;
		height: 22.62em;
		position: absolute;
		top: 0;
		right: -7.8em;
		z-index: 1;
	}
	.inner {
		.views-element-container {
			position: relative;
			z-index: 2;
			footer {
				font-family: $font-dementor;
				color: $color-black;
				font-size: 4em;
				position: absolute;
				bottom: 1.3em;
				right: -.1em;
			}
		}
	}
	.slick__arrow {
		padding: .75em;
		text-align: right;
	}
	.slick-arrow {
		border: none;
		outline: none;
		background: none;
		color: $color-charcoal;
		font-size: 3em;
		&:before {
			font-family: "Font Awesome 5 Pro";
			font-weight: 300;
		}
		&.slick-disabled {
			opacity: 1;
		}
		&.slick-next {
			&:before {
				content: '\f178';
				color: $color-charcoal;
			}
		}
		&.slick-prev {
			margin-right: .2em;
			&:before {
				color: $color-brown;
				content: '\f177';
			}
		}
	}
	.slick-slide {
		padding: .75em;
		.slide__content {
			background-color: #F2F2F2;
			padding: .85em;
		}
	}
	h4 {
		font-size: 2.4em;
		font-family: $font-abril;
		color: $color-white;
		display: block;
		margin-bottom: .75em;
		text-align: center;
	}
}
#our-products-section {
	padding-top: 10em !important;
	background-color: #EDE4DF !important;
	.views-element-container {
		position: relative;
		.views-view-grid {
			position: relative;
			z-index: 2;
		}
	}
	.doodle-1 {
		background: url(../images/vector_Flower.svg) no-repeat 0 0;
		width: 17.81em;
		height: 16.81em;
		position: absolute;
		top: 3em;
		right: -6em;
	}
	.doodle-2 {
		background: url(../images/vector_Leaves-1.svg) no-repeat 0 0;
		width: 12.12em;
		height: 10.75em;
		position: absolute;
		bottom: 15.5em;
    right: -7em;
	}
	.views-field-nothing .img-wrap {
		padding-top: 3em;
		background-color: $color-white;
	}
}
#our-products-section,
#views-bootstrap-product-terms-home-page-1 {
	clear: both;
	background-color: $color-lightgray;
	text-align: center;
	padding-top: 6em;
	padding-bottom: 4em;
	h4 {
		font-size: 2.4em;
		font-family: $font-abril;
		color: $color-charcoal;
		margin-bottom: 1.2em;
	}
	.views-element-container {
		padding-left: 1em;
		padding-right: 1em;
		max-width: 60em;
		margin: 0 auto;
		text-align: left;
	}
	.views-field-nothing {
		margin-bottom: 2em;
		.field-content > div {
			background-color: #F2F2F2;
			padding: 1.3em;
			box-shadow: 0px 3px 6px #91919133;
			position: relative;
		}
		.title {
			position: absolute;
			top: -.2em;
			left: -1.2em;
			a {
				color: $color-black;
				font-family: $font-dementor;
				font-size: 3em;
				display: inline-block;
				padding-top: .55em;
				padding-left: .5em;
				text-decoration: none;
				z-index: 2;
				@include transform(rotate(-10deg));
				position: relative;
			}
			.bar {
				position: absolute;
				top: .75em;
				left: 0;
				display: inline-block;
				width: 8.61em;
				height: 3em;
				background-repeat: no-repeat;
				background-position: 0 0;
				background-size: 100% auto;
				opacity: .8;
				&.bar-1 {
					background-image: url(../images/brush_silver.png);	
				}
				&.bar-3 {
					background-image: url(../images/brush_gold.png);	
				}
				&.bar-4 {
					background-image: url(../images/brush_rg.png);	
				}
				&.bar-5 {
					background-image: url(../images/brush_pink.png);	
				}
				&.bar-6 {
					background-image: url(../images/brush_white.png);	
				}
				&.bar-7 {
					background-image: url(../images/brush_black.png);	
				}
				&.bar-8 {
					background-image: url(../images/brush_grey.png);	
				}
				&.bar-9 {
					background-image: url(../images/brush_red.png);	
				}
				&.bar-10 {
					background-image: url(../images/brush_nude.png);	
				}
				&.bar-2 {
					background-image: url(../images/brush_champagne.png);	
				}
			}
		}
		.shop-now {
			text-align: right;
			padding-top: 1em;
			a {
				font-size: 1em;
				color: $color-brown;
				font-family: $font-lato-bold;
				text-decoration: none;
				text-transform: uppercase;
				&:after {
					font-family: "Font Awesome 5 Pro";
					font-weight: 300;
					content: '\f178';
					margin-left: .24em;
					font-size: 1.5em;
					position: relative;
					top: .15em;
				}
			}
		}
	}
	.more-link {
		text-align: center;
		margin-top: 1.5em;
		a {
			display: inline-block;
			color: $color-white;
			background-color: $color-charcoal;
			text-transform: uppercase;
			/*font-family: $font-lato-light;*/
			font-size: 1em;
			margin: 0 auto 1em;
			padding: .7em 3em;
			border-radius: 2em;
			text-decoration: none;
			@include transition(all .125s ease-in-out);
			&:hover {
				background-color: $color-coral;
			}
		}
	}
}
#views-bootstrap-product-terms-home-page-1 {
	margin-top: 2em;
	background-color: transparent;
	padding: 0};

#our-clients-section {
	position: relative;
	z-index: 3;
	.site-container {
		background-color: $color-ladybagpink;
		position: relative;
	}
	.doodle-1,
	.doodle-2 {
		position: absolute;
		width: 8.62em;
		height: 9.12em;
	}
	.doodle-1 {
		background: url(../images/vector_doodle.svg) no-repeat 0 0;
		left: -3.1em;
		bottom: -1em;
	}
	.doodle-2 {
		background: url(../images/vector_heart.svg) no-repeat 0 0;
		right: 2em;
		bottom: -1.8em;
	}
	h2 {
		font-family: $font-abril;
		color: $color-charcoal;
		font-size: 2.8em;
		position: absolute;
		margin: 0;
		left: 1.5em;
		top: -.65em;
	}
	.views-element-container {
		padding: 4em 10em 2em;
	}
	.slide__description {
		text-align: center;
		font-size: 1.22em;
		color: $color-charcoal;
		p {
			line-height: 1.4em;
			margin: 0;
			display: inline;
		}
	}
	.views-field-title {
		font-family: $font-dementor;
		margin-top: .65em;
		line-height: normal;
		font-size: 2.5em;
	}
	.slick__arrow {
		button {
			background-color: transparent;
			border: none;
			overflow: hidden;
			width: 2.6em;
			height: 2.6em;
			display: block;
			padding: 0;
			position: absolute;
			top: 50%;
			margin-top: -1.3em;
			line-height: normal;
			&:hover {
				&:focus {
					outline: none;
				}
			}
			&:focus {
				outline: none;
			}
			&:before {
				font-family: "Font Awesome 5 Pro";
				font-weight: 300;
				color: $color-charcoal;
				font-size: 2em;
			}
			&.slick-prev {
				left: 5%;
				&:before {
					content: '\f177';
				}
			}
			&.slick-next {
				right: 5%;
				&:before {
					content: '\f178';
				}
			}
		}
	}
	.slick-dots {
		text-align: center;
		list-style: none;
		padding: 0;
		margin: 1.7em 0 0;
		li {
			display: inline-block;
			margin: 0 .2em;
			vertical-align: middle;
			&.slick-active {
				button {
					background-color: $color-charcoal;
					width: .55em;
					height: .55em;
				}
			}
			button {
				border: none;
				display: block;
				width: .4em;
				height: .4em;
				background: $color-brown;
				border-radius: 100%;
				text-indent: -1000px;
				overflow: hidden;
				outline: none;
				padding: 0;
			}
		}
	}
}
#models-section {
	margin-top: -7em;
	background-color: $color-white;
	padding: 11em 0 4em;
	position: relative;
	z-index: 2;
	.doodle-3 {
		position: absolute;
		top: -22.7em;
		left: 0;
		background: url(../images/vector_flower3.svg) no-repeat top right;
		width: 17em;
		height: 22.7em;
	}
	.doodle-1 {
		background: url(../images/ico_dashes.svg) no-repeat 0 0;
		width: 2.56em;
		height: 7.56em;
		position: absolute;
		bottom: -2em;
		left: 3.2em;
	}
	.doodle-2 {
		background: url(../images/vector_Flower.svg) no-repeat 0 0;
		width: 8.81em;
		height: 16.81em;
		position: absolute;
		bottom: -8.5em;
		right: 0;
	}
	.left {
		.inner {
			padding-right: 6em;
		}
	}
	h2 {
		font-family: $font-abril;
		font-size: 2.8em;
		position: relative;
		&:before {
			content: '\f16d';
			font-family: "Font Awesome 5 Brands";
			font-weight: 400;
			font-size: .65em;
			background-color: #4490A0;
			width: 1.5em;
	    height: 1.5em;
	    padding-top: .15em;
			display: inline-block;
			border-radius: 100%;
			text-align: center;
			color: $color-white;
			top: -.2em;
			position: relative;
			margin-right: .3em;
		}
	}
	.userhandle {
		text-align: right;
		a {
			display: inline-block;
			line-height: normal;
			color: #4490A0;
			font-family: $font-dementor;
			font-size: 6em;
			text-decoration: none;
		}
	}
}
.prod-banner {
	height: 18em;
	background: url(../images/d_Product-BG_Pink.jpg) no-repeat 0 0;
	background-size: cover;
	&.prod-banner-2 {
		background-image: url(../images/d_Product-BG_Blue.jpg);
		margin-bottom: 5em;
	}
}
#celeb-pick {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fffcf9+0,fffcf9+50,ede4df+51,ede4df+100 */
	background: #fffcf9; /* Old browsers */
	background: -moz-linear-gradient(left,  #fffcf9 0%, #fffcf9 50%, #ede4df 51%, #ede4df 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #fffcf9 0%,#fffcf9 50%,#ede4df 51%,#ede4df 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #fffcf9 0%,#fffcf9 50%,#ede4df 51%,#ede4df 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcf9', endColorstr='#ede4df',GradientType=1 ); /* IE6-9 */
	position: relative;
	.bg-extension {
  	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fffcf9+0,fffcf9+50,c59c85+51,c59c85+100 */
  	background: #fffcf9; /* Old browsers */
  	background: -moz-linear-gradient(left,  #fffcf9 0%, #fffcf9 50%, #c59c85 51%, #c59c85 100%); /* FF3.6-15 */
  	background: -webkit-linear-gradient(left,  #fffcf9 0%,#fffcf9 50%,#c59c85 51%,#c59c85 100%); /* Chrome10-25,Safari5.1-6 */
  	background: linear-gradient(to right,  #fffcf9 0%,#fffcf9 50%,#c59c85 51%,#c59c85 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcf9', endColorstr='#c59c85',GradientType=1 ); /* IE6-9 */
		width: 100%;
		height: 30em;
		position: absolute;
		bottom: -5.5em;
		left: 0;
  }
	.celeb-pick-inner {
		max-width: 120em;
		width: 100%;
		margin: 0 auto;
		position: relative;
		clear: both;
	}
	.site-container {
		position: relative;
	}
	.doodle-1 {
		background: url(../images/vector_Flower.svg) no-repeat 0 0;
		width: 17.81em;
		height: 16.81em;
		position: absolute;
		bottom: -11.2em;
    /*right: 83.5em;*/
    left: -6em;
    z-index: 2;
	}
	.left {
		background-color: #FFFCF9;
		width: 57.32%;
		position: relative;
		height: 38em;
		z-index: 1;
		.inner {
			/*padding: 4em 5em 20em 25em;*/
			/*position: absolute;
			top: 0;
			right: 14.1%;*/
			padding: 4em 2em 2.5em 2em;
		}
		h1 {
			font-family: $font-abril;
			font-size: 2.4em;
			margin-bottom: .4em;
		}
		p {
			margin-bottom: 0;
		}
	}
	.right {
		background-color: $color-brown;
		/*width: 79.2%;*/
		height: 30em;
		position: absolute;
    top: 13.5em;
    width: 100%;
    /*right: 0;*/
    z-index: 3;
    
		.doodle-2 {
			background: url(../images/vector_doodle2-1.svg) no-repeat 0 0;
			width: 13.75em;
			height: 20.12em;
			position: absolute;
			top: 4.5em;
			left: -5.7em;
		}
		.inner {
			position: relative;
			padding-bottom: 5em;
		}
		.left-side {
			width: 46%;
			float: left;
			text-align: right;
			padding-right: 4em;
			margin-top: 6em;
			padding-left: 9em;
			.celeb-name {
				font-family: $font-dementor;
				line-height: normal;
				font-size: 6.5em;
				text-align: center;
				color: $color-white;
			}
			.celeb-handle {
				color: $color-white;
				text-align: center;
				margin-bottom: .5em;
			}
			img {
				margin-top: .2em;
				margin-bottom: .5em;
			}
			p {
				color: $color-white;
			}
		}
		.right-side {
			width: 54%;
			float: right;
			position: relative;
			min-height: 30em;
			padding-bottom: 4em;
			.small-pic {
				position: absolute;
				bottom: 7.8em;
				left: 0;
				width: 15.1em;
				height: 16.8em;
				z-index: 2;
				img {
					border: .65em solid $color-white;
					background: $color-white;
				}
				p {
					padding: .5em;
					font-size: .9em;
					line-height: normal;
					margin-bottom: 0;
					color: $color-white;
				}
			}
			.large-pic {
				position: absolute;
				bottom: 4.5em;
				left: 12em;
				width: 30em;
				height: 39em;
			}
		}
	}
}
#banner {
	position: relative;
	margin-top: .5em;
	.views-element-container {
		position: relative;
		z-index: 2;
		border: .75em solid $color-white;
	}
	&:before,
	&:after {
		content: '';
		position: absolute;
	}
	&:before {
		top: 3em;
		left: -6.1em;
		width: 13.56em;
		height: 21.12em;
		background: url(../images/LeftDoodle.svg) no-repeat 0 0;
	}
	&:after {
		top: -17em;
		right: -5.9em;
		width: 11.375em;
		height: 50.12em;
		background: url(../images/RightDoodle.svg) no-repeat 0 0;
	}
	.slick-next {
		right: 0;
		&:before {
			content: '\f054';
		}
	}
	.slick-prev {
		left: 0;
		&:before {
			content: '\f053';
		}
	}
	.slick-prev,
	.slick-next {
		background-color: rgba(255,255,255,.3);
		text-indent: -1000px;
		overflow: hidden;
		display: inline-block;
		border: none;
		position: absolute;
		top: 0;
		width: 2.9em;
		height: 100%;
		padding: 0;
		line-height: 2.9em;
		opacity: .5;
		@include transition(all .125s ease-in-out);
		&:hover,
		&:active,
		&:focus {
			border: none;
			outline: none;
			opacity: 1;
		}
		&:before {
			font-family: "Font Awesome 5 Pro";
			font-weight: 300;
			font-size: 2em;
			text-indent: 0;
			position: absolute;
			top: 44%;
			left: .4em;
			color: darken($color-white,10%);
		}
	}
}
#block-tinycuervo-page-title {
	margin-bottom: 2em;
}
.product-page {
	#system-breadcrumb,
	.breadcrumb {
		display: none;
	}
	.site-container {
		margin-top: -9em;
		background-color: $color-white;
		padding: 3.5em 4em 3.5em;
	}
	#footer {
		.site-container {
			margin: 0 auto;
			background-color: transparent;
		}
	}
	#block-tinycuervo-page-title {
		text-align: center;
		margin-bottom: 1.2em;
		h1 {
			font-size: 1.22em;
			font-family: $font-lato-bold;
			border-bottom: .22em solid $color-charcoal;
			display: inline-block;
			padding-bottom: .2em;
		}
	}
	#block-exposedformproducts-pagepage-1 {
		text-align: center;
	}
	#views-exposed-form-products-page-page-1 {
		display: inline-block;
		margin-bottom: 2.5em;
		.form-item-bestseller,
		.form-item-color {
			/*display: none;*/
			width: 1px;
			height: 1px;
			overflow: hidden;
			position: absolute;
		}
		label {
			margin: 0 .85em 0 0;
			color: $color-gray;
			text-transform: uppercase;
			font-size: .85em;
			&:before {
				content: '\f160';
				font-family: "Font Awesome 5 Pro";
				font-weight: 300;
				margin-right: .5em;
			}
		}
		select {
			border: .12em solid $color-gray;
			outline: none;
			font-size: .85em;
			padding: .5em;
		}
	}
	.button {
		display: none;
	}
	.views-field-field-featured-image {
		margin-bottom: .5em;
		a {
			display: block;
			border: 1px solid darken($color-white,8%);
			&:hover,&:focus {
				outline: none;
			}
		}
	}
	.views-field-field-color {
		color: $color-gray;
		font-size: .7em;
	}
	.views-field-title {
		a {
			color: $color-charcoal;
			font-family: $font-lato-bold;
			text-decoration: none;
		}
	}
	.views-field-price__number {
		font-size: .75em;
		color: $color-gray;
		strong {
			color: $color-charcoal;
		}
	}
	.views-field-field-stock-level {
		margin-top: .5em;
		.field-content {
			opacity: 0;
			@include transition(opacity .125s ease-in-out);
			&.outofstock {
				color: #B74F4F;
				opacity: 1;
				text-transform: uppercase;
				font-size: .75em;
			}
		}
	}
}
#cart-offcanvas {
	.cart--cart-offcanvas__close {
		padding: .5em 2em;
		.btn {
			padding: 0;
			width: auto;
			font-size: 2em;
		}
	}
	.cart-block--offcanvas-contents {
		padding: 1em 2em 2em;
		td {
			vertical-align: middle;
			font-size: .85em;
			&.cart-block--offcanvas-cart-table__price {
				color: $color-gray;
			}
			&.cart-block--offcanvas-cart-table__quantity {
				input {
					border: 1px solid darken($color-lightgray,5%);
					outline: none;
					padding: .1em;
				}
			}
			&.cart-block--offcanvas-cart-table__remove {
				.btn {
					padding: 0;
					max-width: 100%;
					width: auto;
					font-size: 1rem;
					color: $color-error;
				}
			}
			.cart-block--offcanvas-contents__update {
				background-color: $color-charcoal;
				border-color: $color-charcoal;
				color: $color-white;
				float: right;
				&:hover {
					background-color: $color-charcoal;
					border-color: $color-charcoal;
					color: $color-white;
				}
			}
		}
	}
	.cart-block--offcanvas-contents__links {
		a {
			color: $color-ladybagpink;
			font-size: .9em;
			font-family: $font-lato-bold;
			text-transform: uppercase;
			&:before {
				content: '\f07a';
				font-family: "Font Awesome 5 Pro";
				font-weight: 300;
				margin-right: .5em;
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
}
#block-cart {
	text-align: right;
	.cart-block--summary a {
		&:hover,&:focus {
			outline: none;
			text-decoration: none;
		}
	}
	.cart-block--summary__icon {
		background: url(../images/ico_cart.svg) no-repeat center;
		width: 1.11em;
		height: 1.11em;
		margin-right: .2em;
		img {
			display: none;
		}
	}
	.cart-block--summary__count {
		color: $color-charcoal;
		sup {
			color: $color-ladybagpink;
			position: relative;
			left: -.25em;
			font-family: $font-lato-bold;
		}
	}
	.cart-block--link__expand {
		span {
			display: inline-block;
			vertical-align: middle;
		}
	}
	.cart-block--contents__inner {
		padding: .5em;
		background-color: $color-white;
		border: .11em solid darken($color-lightgray,18%);
		border-radius: .2em;
	}
	.cart-block--contents {
		width: 100%;
		margin-top: .5em;
	}
	.cart-block {
		table {
			border-collapse: collapse;
			width: 100%;
			th,td {
				padding: .75em;
				vertical-align: top;
				border-top: 1px solid #dee2e6;
				font-size: .85em;
			}
			tr {
				background-color: $color-white;
				&:nth-of-type(2n+1) {
					background-color: $color-lightgray;
				}
			}
		}
	}
	.cart-block--contents__links {
		padding: .25em .25em;
		font-size: .85em;
		text-align: center;
		text-transform: uppercase;
		font-family: $font-lato-bold;
		background-color: $color-coral;
		a {
			color: $color-white;
		}
	}
}
.page-node-9 {
	main {
		margin-top: 0;
		margin-bottom: 0;
	}
}
.cart-empty-page {
	margin-top: 5em;
	margin-bottom: 5em;
	text-align: center;
	.cart-icon {
		margin-bottom: 1.2em;
		img {
			width: 4.44em;
			height: 4.44em;
		}
	}
	.desc {
		font-size: 1.2em;
		margin-bottom: 3em;
		font-family: $font-lato-bold;
	}
	.cta {
		.btn {
			padding: .75em 2em;
			font-size: 1em;
			width: auto;
			border-width: .13em;
		}
	}
}
.cart-page {
	#block-tinycuervo-page-title {
		margin-bottom: 3em;
		h1 {
			color: $color-gray;
			font-family: $font-lato-light;
			text-transform: uppercase;
			text-align: center;
		}
	}
	.views-row {
		margin-bottom: 1.5em;
		.mid {
			position: relative;
			&.edit-active {
				.quantity {
					display: none;
				}
				.edit-quantity {
					display: block;
				}
			}
			.bot {
				position: absolute;
				padding-bottom: .5em;
				bottom: 0;
			}
		}
		.title {
			font-family: $font-lato-bold;
			margin-bottom: .5em;
			font-size: 1em;
		}
		.price,.quantity {
			font-size: .85em;
			color: $color-gray;
		}
		.edit-quantity {
			display: none;
		}
		.quantity {
			font-family: $font-lato-italic;
		}
		.color {
			font-size: .8em;
			color: $color-gray;
		}
		.right {
			text-align: center;
			a {
				display: inline-block;
				border: 1px solid $color-gray;
				width: 2em;
				height: 2em;
				border-radius: 100%;
				text-align: center;
				padding-top: .2em;
				margin: 0 .25em;
				position: relative;
				i {
					color: $color-gray;
				}
				&.custom-delete-order {
					border-color: $color-error;
					i {
						color: $color-error;
					}
				}
			}
		}
		.delete-order-item {
			width: 1px;
			height: 1px;
			position: absolute;
			overflow: hidden;
			padding: 0;
			top: 0;
			right: 0;
			opacity: 0;
		}
	}
}
.summary-wrap {
	background-color: $color-blush;
	padding: 2em;
	text-align: center;
	.order-total-line__total {
		font-weight: normal;
	}
	.order-total-line {
		text-align: center;
		margin-bottom: 1em;
		span {
			display: block;
			width: auto;
			text-align: center;
		}
		.order-total-line-label {
			font-family: $font-lato-bold;
			color: #8B6655;
			margin-bottom: .75em;
		}
		.order-total-line-value {
			color: $color-charcoal;
			font-family: $font-lato-bold;
			font-size: 1.4em;
		}
	}
}
.custom-cart-page {
	margin-bottom: 4em;
	max-width: 45em;
	margin-left: auto;
	margin-right: auto;
	header {
		margin-bottom: 3em;
		h1 {
			font-size: 1em;
			text-align: center;
			color: $color-gray;
			text-transform: uppercase;
			font-family: $font-lato-reg;
		}
	}
	.form-actions {
		background-color: $color-blush;
		text-align: center;
		padding-bottom: 2em;
		input {
			margin: 0 .75em;
			display: inline-block;
			color: $color-white;
			background-color: $color-charcoal;
			text-transform: uppercase;
			font-family: $font-lato-light;
			font-size: .9em;
			padding: .7em 3em;
			border-radius: 2em;
			text-decoration: none;
			border: none;
			@include transition(all .125s ease-in-out);
			&:hover {
				background-color: $color-coral;
			}
		}
	}
}
.layout-region-checkout-main > .checkout-pane {
	legend {
		position: relative;
		margin-bottom: 1em;
		&:before {
			content: '';
			width: 100%;
			height: .1em;
			border-bottom: 1px solid $color-charcoal;
			display: block;
			position: absolute;
			top: .5em;
			left: 0;
			z-index: -1;
		}
	}
	.fieldset-legend {
		font-family: $font-lato-bold;
		font-size: .75em;
		padding-right: .5em;
		text-transform: capitalize;
		background-color: $color-white;
	}
	.fieldset-wrapper {
		legend:before {
			display: none;
		}
		.fieldset-legend {
			font-size: .65em;
			color: #EE2E70;
		}
	}
}
.checkout-pane {
	margin-bottom: 1.75em;
	.address-container-inline {
		.form-item {
			float: left;
			width: 49%;
			margin-right: 0;
			&:first-child {
				margin-right: 2%;
			}
		}
	}
	.form-item {
		margin-bottom: 1.2em;
		label, input, select {
			display: block;
		}
		label {
			font-weight: normal;
			font-size: .9em;
			color: #4E4E4E;
			margin-bottom: .2em;
		}
		input, select {
			border: .08em solid #898989;
			padding: .5em 1em;
			width: 100%;
			&.error {
				border-color: $color-error;
			}
		}
		&.js-form-type-radio,
		&.js-form-type-checkbox {
			margin-bottom: 0;
			label, input {
				display: inline-block;
				width: auto;
			}
		}
	}
}
#commerce-checkout-flow-multistep-default {
	margin-bottom: 3em;
	.layout-region-checkout-main {
		padding-right: 4em;
	}
	.button {
		border-radius: 1.94em;
		font-size: .9em;
		background-color: $color-charcoal;
		color: $color-white;
		text-transform: uppercase;
		border: none;
		padding: .7em 3em;
		margin-right: 1em;
		margin-bottom: 1em;
		@include transition(all .125s ease-in-out);
		&:hover {
			background-color: $color-coral;
		}
	}
	a {
		color: #EE2E70;
	}

}
.layout-region-checkout-secondary {
	background-color: $color-blush;
	padding-left: 2em;
	padding-right: 2em;
	.checkout-pane {
		margin-bottom: 0;
	}
	h3 {
		color: #8B6655;
		font-family: $font-lato-bold;
		font-size: 1.2em;
		text-align: center;
		margin: 2em 0 1em;
	}
	.summary-wrap {
		border-top: 1px solid #8B6655;
		margin-top: 2em;
	}
	.checkout-pane-order-summary {
		table {
			tbody {
				tr:nth-of-type(2n+1) {
					background-color: lighten($color-blush,4%);
				}
			}
			th {
				text-transform: uppercase;
				font-weight: normal;
				color: $color-gray;
			}
			td,th {
				font-size: .85em;
				border: none;
				a {
					color: $color-charcoal;
					font-family: $font-lato-bold;
				}
			}
		}
	}
}
#block-views-block-similar-product-s-reference-block-1 {
	display: none;
}
.commerce-product--type-bag {
	.group-left {
		padding-right: 2em;
		width: 40%;
		.slick-slide,div,img {
			&:active,&:focus {
				outline: none;
			}
		}
		.slick-dots {
			text-align: center;
			padding: 0;
			margin: 0;
			list-style: none;
			li {
				display: inline-block;
				padding: .5em .25em;
				cursor: pointer;
				opacity: .5;
				img {
					border: 1px solid transparent;
				}
				&.slick-active {
					opacity: 1;
					img {
						border: 1px solid $color-gray;
					}
				}
				button {
					display: none;
				}
			}
		}
	}
	.group-right {
		width: 60%;
		padding-left: 2em;
		.btn-secondary {
			span {
				display: inline-block;
				vertical-align: middle;
				background: url(../images/ico_cart.svg) no-repeat center;
				background-size: 100%;
				width: 1em;
				height: 1em;
				margin-right: .5em;
			}
			&:hover {
				background-color: $color-white;
				color: $color-charcoal;
				box-shadow: 0 0 .5em 0 $color-gray;
			}
		}
	}
	.field-name-dynamic-token-fieldcommerce-product-ds-pt {
		p {
			margin: 0 0 .5em;
			font-size: 1.3em;
			font-family: $font-lato-bold;
		}
	}
	.c_stock {
		color: #3AAF75;
		font-size: .85em;
		margin: 1em 0;
		.oos {
			color: $color-error;
		}
	}
	#color-drop,
	.js-form-type-number {
		display: inline-block;
		width: 10em;
		float: left;
		label {
			font-size: .8em;
			margin-bottom: .2em;
		}
		select, input {
			width: 100%;
			border: 1px solid $color-gray;
			padding: .4em 1em;
			font-size: .85em;
			line-height: normal;
		}
	}
	#color-drop {
		margin-right: 1em;
		option:empty {
			display: none;
		}
	}
	.field-details {
		clear: both;
		margin-top: 2em;
		h4 {
			color: $color-gray;
			font-family: $font-lato-reg;
			font-size: 1em;
			margin-top: 2em;
		}
		p:empty {
			margin-bottom: 0;
		}
		ul {
			padding-left: 1em;
		}
	}
	.field-variations {
		overflow: hidden;
		.field-label-visually-hidden {
			display: none;
		}
		.form-actions {
			display: none;
		}
	}
	.field-name-field-color {
		visibility: hidden;
	}
}
#edit-review-contact-information,
#edit-review-payment-information {
	.fieldset-legend {
		a {
			color: $color-ladybagpink;
		}
	}
}
.shop-prod-no-result {
	text-align: center;
	text-transform: uppercase;
	max-width: 18em;
	margin: 2em auto 0;
	.text-content {
		line-height: 1.5em;
	}
}
main {
	/*margin-top: 4em;
	margin-bottom: 4em;*/
	position: relative;
	&.product-page {
		margin-top: 0;
	}
	#mobile-sidebar {
		position: fixed;
		top: 5.625em;
		left: -15em;
		width: 15em;
		padding: 2.2em 1.5em;
		@include transition(all .235s ease-in-out);
		> span {
			text-transform: uppercase;
			color: $color-gray;
			font-family: $font-lato-light;
			font-size: .85em;
		}
		&.open {
			left: 0;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				padding-top: .35em;
				padding-bottom: .35em;
				a,span {
					font-size: 1.1em;
					font-family: $font-lato-bold;
					color: $color-charcoal;
					&:hover {
						text-decoration: none;
					}
				}
			}
			&.submenu {
				margin-top: .5em;
				padding-left: 1em;
				padding-right: 1em;
				li {
					a {
						color: $color-charcoal;
						font-size: 1em;
						font-family: $font-lato-reg;
						position: relative;
						display: block;
						&:before {
							content: '\f054';
							font-family: "Font Awesome 5 Pro";
							font-weight: 300;
							position: absolute;
							top: 0;
							right: 0;
							font-size: .6em;
						}
					}
				}
			}
		}
	}
	.layout-content {
		width: 100%;
		position: relative;
		@include transition(all .235s ease-in-out);
		&.open {
			position: relative;
			margin-left: 15em;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,.6);
				z-index: 1000;
				@include transition(all .125s ease-in-out);
			}
		}
	}
}
#instagram-feed {
	overflow: hidden;
}
#mobile-burg-menu {
	display: none;
  z-index: 5010;
  width: 1.6em;
  height: 1.4em;
  position: relative;
  @include transform(rotate(0deg));
  @include transition(all .5s ease-in-out);
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: .12em;
    width: 100%;
    background: $color-charcoal;
    border-radius: .19em;
    opacity: 1;
    left: 0;
    @include transform(rotate(0deg));
    @include transition(all .25s ease-in-out);

    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2) {
      top: .5em;
    }
    &:nth-child(3) {
      top: 1em;
      width:70%;
    }
  }
  &.open {
    span {
      &:nth-child(1) {
        top: .6em;
        @include transform(rotate(135deg));
      }
      &:nth-child(2) {
        opacity: 0;
        left: -60px;
      }
      &:nth-child(3) {
        width: 100%;
        top: .6em;
        @include transform(rotate(-135deg));
      }
    }
  }
}

@media only screen and (max-width: 1638px) {
	#celeb-pick .right .left-side {
		padding-left: 5em;
		padding-right: 5em;
	}
}

@media only screen and (max-width: 1456px) {
}

@media only screen and (max-width: 1366px) {
	.site-container {
		padding-left: 1em;
		padding-right: 1em;
	}
}

@media only screen and (max-width: 1024px) {
	#bestsellers-section {
		margin-top: -35em;
		position: relative;
		padding-top: 36em;
		.site-container {
			overflow: hidden;
		}
	}
	#our-products-section {
		overflow: hidden;
	}
	#our-clients-section {
		padding-left: 3em;
		padding-right: 3em;
		.site-container {
			padding-top: 2em;
		}
		h2 {
			position: relative;
			top: auto;
			left: auto;
			text-align: center;
		}
	}
	#banner-wrapper {
		overflow: hidden;
	}
	.about-section {
		p:last-child {
			text-align: right;
		}
		.left .inner {
			max-width: 30em;
			margin: 3em auto 0;
		}
		.title {
			left: 0;
		}
	}
	#celeb-pick {
		.doodle-1 {
			bottom: 20em;
			left: 2em;
		}
		.bg-extension {
			display: none;
		}
		.left {
			width: 100%;
			height: auto;
			padding-bottom: 10em;
		}
		.right {
			height: auto;
			background: none;
			padding-left: 10em;
			position: relative;
	    top: 0;
	    margin-top: -10em;
	    .doodle-2 {
	    	left: 2em;
	    	z-index: 2;
	    }
			.inner {
				background-color: $color-brown;
				padding-bottom: 0;
			}
			.left-side,
			.right-side {
				width: 100%;
				position: relative;
				float: none;
			}
			.left-side {
				text-align: center;
				padding: 2em 2em 1em;
				margin-top: 0;
				img {
					width: 20em;
				}
			}
			.right-side {
				padding-bottom: 2.5em;
				.small-pic {
					/*display: none;*/
					bottom: -4em;
					left: -3em;
				}
				.large-pic {
					position: relative;
					bottom: auto;
					left: auto;
					text-align: center;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}
	#banner {
		padding-left: 2em;
		padding-right: 2em;
		&:before {
			top: -3em;
		}
		&:after {
			top: -16em;
		}
	}
	#footer {
		.footer-logo {
			padding-right: 1.5em;
			img {
				max-width: 100%;
			}
		}
		.footer-col-2,
		.footer-col-3,
		.footer-col-4 {
			padding-left: 1em;
			padding-right: 1em;
		}
		.footer-col-2 {
			width: 23%;
		}
		.footer-col-3 {
			width: 31%;
		}
	}
}

@media only screen and (max-width: 800px) {
	@import 'breakpoints/800.scss';
}

@media only screen and (max-width: 575px) {
	@import 'breakpoints/575.scss';
}

@media only screen and (max-width: 459px) {
	@import 'breakpoints/459.scss';
}

@media only screen and (max-width: 414px) {
	@import 'breakpoints/414.scss';
}